<h1>Angular Highcharts demo</h1>

<div id="main-head" style="text-align:center">
  <section>
    <div class="example-button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
    </div>
  </section>

  <button (click)="listarTodosProdutos()">GET</button>

  <div id="chart-line"></div>
</div>

